[Desktop Entry]
Type=Application
Name=HiZip
Comment=Archive manager
Exec=hizip %F
TryExec=hizip
Terminal=false
Categories=Utility;Archiving;
MimeType=application/zip;application/x-7z-compressed;application/vnd.rar;application/x-rar-compressed;application/x-tar;application/x-compressed-tar;application/gzip;application/x-gzip;application/x-bzip2;application/x-bzip;application/x-bzip-compressed-tar;application/x-xz;application/x-xz-compressed-tar;application/x-lzma;application/x-lzip;application/x-lzip-compressed-tar;application/zstd;application/x-zstd;application/x-lz4;application/x-cpio;application/vnd.ms-cab-compressed;application/x-iso9660-image;application/x-xar;application/x-rpm;application/vnd.debian.binary-package;application/x-archive;application/x-lha;application/x-lzh;application/java-archive;application/epub+zip;application/vnd.comicbook+zip;
StartupWMClass=dev.hizip.hizip
